# Кэш миниатюр изображений Windows
Thumbs.db

# Кэш миниатюр изображений MACOS
.DS_Store

# Кэш ZIP архивов MACOS
__MACOSX

# Папка модулей
node_modules

# Логи
logs
*.log

# Процессы
pids
*.pid
*.seed